h1 {
  color: rgb(29, 29, 29);
  font-size: 24dpt;
  font-family: "Libre Baskerville", "Arial", serif;
  font-style: italic;
  font-weight: 700;
}

p {
  font-size: 12pt;
  color: #000;
  font-family: "Kanit", "Arial", sans-serif;
}

input {
  font-size: 12pt;
  font-family: "Kanit", Arial, Helvetica, sans-serif;
  font-weight: 200;
}
